@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(font/Poppins-Regular.ttf);
}

.blur {
    width: 200px;
    height: 130px;
    background: radial-gradient(circle at 100%, lightgrey, lightgrey, lightgrey, white);
    position: absolute;
    left: 7%;
    top: -13% !important;
    filter: blur(125px) !important;
    border-radius: 50%;
    box-shadow: 1px 33px 245px white;
}

.Main-wrapper {
    background-color: black;
    height: 800px;
}

/********** Navbar Component **********/

.nav-menu li {
    color: #8B8E99;
    margin: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}

/*********** MainContent Component **********/

.search-input {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.4rem;
    margin-top: 1rem;
}

.search-btn {
    padding: 0.5rem;
    background-color: blue;
    border-radius: 0.5rem;
    width: 79px;
    color: white;
}

.watch-widget {
    position: relative;
}

.watch-widget img {
    position: absolute;
    animation: anime 15s ease-in-out infinite;
}

@keyframes anime {
     50% {
      transform: rotate( 360deg);
    } 
/* 
    100% {
        transform: translateY(20px);
    } */
}

/*********** Sample Component **********/

.sample-container {
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.sample-container:hover {
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.02);
}

/********** Products Component **********/

.Product-widgets p {
    font-weight: 550;
}

.Product-widgets img {
    transition: all .5s ease-in-out;
}

.Product-widgets img:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.02);
}

.cart-btn {
    background-color: black;
    color: white;
    padding: 0.5rem;
    width: 100px;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: small;
}

/********** Newsletter Component **********/


.subscribe-input {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.4rem;
    margin-top: 1rem;
}

.subscribe-btn {
    padding: 0.5rem;
    background-color: blue;
    border-radius: 0.5rem;
    width: 100px;
    color: white;
}

.notification {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
  }
  
  .notification.exiting {
    transform: translateY(-100%);
  }
  
  /********** Notification Component **********/

  .viewCart {
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-size: smaller;
    width: 100px;
    color: black;
    font-weight: 700;
  }

  .notif-wrapper-gen {
    transition: all 700ms ease-in-out;
  }